################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projet-Parking-1S/v15/.suo
/.vs/Projet-Parking-1S/v15/Browse.VC.db
/.vs/Projet-Parking-1S/v15/Browse.VC.opendb
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
